<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">


	<listeners> 
		<listener class-name="cn.leanpro.util.ScreenShotUtils"></listener> 
 	</listeners>
 	
 	 
  <test name="Nopackage" >
    <classes>
    <!-- 
    	<parameter name="username" value="zack"></parameter>
    	<parameter name="password" value = "ABCzzy123456"></parameter>
    	<class name="cn.leanpro.pageobjects.test.TestLogin" />
       	<class name="cn.leanpro.pageobjects.test.TestLeaproPage" />
    	 -->
       	<class name="cn.leanpro.pageobjects.Test.TestBBSPage" />
    </classes>
  </test>
</suite>