<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>rd /q /s C:\Users\zack\.jenkins\workspace\TestLeanpro-Maven</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>xcopy /E /Y  D:\mytestcode\testSelenium  C:\Users\zack\.jenkins\workspace\TestLeanpro-Maven</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.Maven>
      <targets>clean</targets>
      <mavenName>maven</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Maven>
      <targets>install -Dthreads=2 -Dbrowser=chrome</targets>
      <mavenName>maven</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.plugins.testlink.TestLinkBuilder plugin="testlink@3.11">
      <testLinkName>testlink</testLinkName>
      <testProjectName>leanprotest</testProjectName>
      <testPlanName>bbstest</testPlanName>
      <buildName>bbsbuild_$BUILD_ID</buildName>
      <platformName></platformName>
      <customFields>java_class</customFields>
      <transactional>false</transactional>
      <failedTestsMarkBuildAsFailure>false</failedTestsMarkBuildAsFailure>
      <failIfNoResults>false</failIfNoResults>
      <failOnNotRun>false</failOnNotRun>
      <executionOrderComparator/>
      <failure>false</failure>
      <resultSeekers>
        <hudson.plugins.testlink.result.TestNGMethodNameResultSeeker>
          <includePattern>**/testng-results.xml</includePattern>
          <keyCustomField>java_class</keyCustomField>
          <includeNotes>true</includeNotes>
          <parser/>
          <attachTestNGXML>true</attachTestNGXML>
          <markSkippedTestAsBlocked>true</markSkippedTestAsBlocked>
          <parser defined-in="hudson.plugins.testlink.result.TestNGMethodNameResultSeeker"/>
        </hudson.plugins.testlink.result.TestNGMethodNameResultSeeker>
      </resultSeekers>
    </hudson.plugins.testlink.TestLinkBuilder>
  </builders>
  <publishers>
    <hudson.plugins.testng.Publisher plugin="testng-plugin@1.11-SNAPSHOT">
      <reportFilenamePattern>**/testng-results.xml</reportFilenamePattern>
      <escapeTestDescp>true</escapeTestDescp>
      <escapeExceptionMsg>true</escapeExceptionMsg>
      <showFailedBuilds>false</showFailedBuilds>
      <unstableOnSkippedTests>false</unstableOnSkippedTests>
      <failureOnFailedTestConfig>false</failureOnFailedTestConfig>
    </hudson.plugins.testng.Publisher>
  </publishers>
  <buildWrappers/>
</project>