<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" thread-count="2">

	<listeners> 
		<listener class-name="cn.leanpro.util.ScreenShotUtils"></listener> 
		<listener class-name="cn.leanpro.util.ReportUtil"></listener>
 	</listeners>
  <test name="testbbs01" >
  	
	    <classes>
	       <class name="cn.leanpro.pageobjects.Test.TestBBS" />
	    </classes>
  </test>

</suite>
